h2{
    color: #003580;
}
#text{
    font-size: 14px;
    color: #000033;
}
.font1{
    color: #FF0000;
}
.font2{
    color: #1f87cc;
}
.font3{
    color: #faa53b;
}
.font4{
    color: #0d7144;
}
.img1{
    width: 100px;
    height: 160px;
}
.img2{
    width: 200px;
    height: 130px;
}