*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.nav-header{
    height: 90px;
    width: 100%;
    background: rgba(0, 0, 0, .6);
}
.head-contain{
    margin: 0 auto;
    text-align: center;
}

.top-logo,.top-nav,.top-right,.top-nav li{
    vertical-align: top;
    display: inline-block;
}

.top-nav{
    margin: 0px 48px;
}

.top-nav li{
    line-height: 90px;
    width: 90px;
}

.top-nav li a{
    font-size: 16px;
    color: white;
    text-align: center;
}

.top-right a{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 35px;
}

.top-right a:first-of-type {
    width:93px;
    height:38px;
    line-height:38px;
    color:#fad65c;
    border:1px #fad65c solid;
}
.top-right a:last-of-type {
    width:140px;
    height:40px;
    font-weight:700;
    line-height:40px;
    background:#fad65c;
    color:#986b0d;
}