/*全局部分*/
div{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: "微软雅黑",serif;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.l{
    float: left;
}
.r{
    float: right;
}
a{
    text-decoration: none;
}
.cl{
    clear: both;
}
.border{
    border: 1px #CCCCCC solid;
    border-radius: 10px;
}


/**header部分**/
/*导航栏部分*/
.header{
    width: 1000px;
    height: 280px;
}
.nav{
    background: linear-gradient(#CA314B,#D66C83);
    border-radius: 7px;
    margin-bottom: 20px;
}
.nav_content{
    height: 50px;
    background: url("../images/gameLogo.png") no-repeat;
}
.nav .l span{
    font-weight: bold;
    display: inline-block;
    height: 50px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    border-radius: 7px;
    color:  #CB3333;
    margin-left: 270px;
    background: #FFFFFF;
    position: relative;
    top: 10px;
}
.nav .r{
    padding-right: 35px;
    color: #FFFFFF;
}
.nav .r a{
    font-size: 12px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 50px;
    padding: 0 5px;
}
.nav .r span{
    text-align: center;
}
.nav a:hover{
    color: orangered;
}

/*左边游戏菜单*/
.gameList{
    border: 1px #CCCCCC solid;
    overflow: hidden;
    border-radius: 10px;
    width: 190px;
    height: 210px;
}
.gameList li{
    list-style: none;
    background: linear-gradient(to bottom,#EAEAEA,#FCFCFC);
}
.gameList a{
    display: block;
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    background: url("../images/rightA.png") 170px no-repeat;
}
.gameList li:hover{
    background: #D86034;
}
.gameList ul img{
    vertical-align: middle;
    padding: 0 10px 0 8px;
}

/*广告区域*/
.ad{
    position: relative;
    border: 1px #FFFFFF solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 4px 15px 0 15px;
    width: 520px;
    height: 200px;
}
.ad img{
    width: 100%;
}
.ad .choice {
    position: absolute;
    right: 20px;
    bottom: 0;
}
.ad .choice .on{
    background: #B61C16;
    color: #FFFFFF;
}
.choice li{
    font-size: 12px;
    list-style: none;
    float: left;
    background: #CACBC8;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin:0 10px 10px 0;
    border-radius: 50%;
    cursor: pointer;
}

/*登录区域*/
.login{
    width: 260px;
    height: 210px;
    background: #F9F9F9;
}
.login h1{
    color: #767373;
    padding: 20px;
    font-size: 14px;
}
.login ul{
    list-style: none;
}
.login li{
    padding: 0 20px 15px 15px;
}
.login li span{
    margin-right: 12px;
}
.login input[type="text"]{
    color: #757575;
    padding-left: 5px;
    width: 160px;
    height: 20px;
    border: 1px #CCCCCC solid;
}
.login input[type="submit"]{
    background: #CE1B39;
    color: white;
    width: 64px;
    height: 24px;
    margin:0 85px 0 85px;
}
.login li a{
    text-decoration: none;
    color: #2B62A5;
    margin-left: 35px;
}

/**中间部分**/
/*全部游戏部分*/
.center{
    width: 1000px;
    height: 670px;
    margin-top: 22px;
}
.allGame{
    width: 725px;
    height: 225px;
    overflow: hidden;
}
.Nav{
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, #fafafa, #eeefef);;
    border-bottom: 1px solid #FFFFFF;
}
.Nav h2{
    float: left;
    font-size: 13px;
    color: #7D0808;
    line-height: 30px;
    margin: 0 23px 0 10px;
}
.Nav li{
    list-style: none;
    float: left;
    line-height: 30px;
    margin-left: 12px;
}
.Nav a{
    text-decoration: none;
    color: #666666;
    margin-right: 12px;
}
.allGame .gameShow{
    width: 320px;
    height: 150px;
    overflow: hidden;
    margin: 20px 0 20px 30px;
}
.allGame .mr_8{
    margin-left: 8px;
}
.allGame .gameShow_content{
    padding-top: 10px;
    width: 100%;
    height: 140px;
}
.allGame .gameShow .img{
    width: 128px;
    height: 96px;
    margin: 10px 8px;
}
.allGame .gameShow img{
    width: 100%;
    transition: all 0.5s;
}
.allGame .gameShow img:hover{
    transform: translate(-8px,0);
}
.text_content{
    width: 174px;
    float: left;
}
.allGame .text_content p{
    font-size: 12px;
    padding-top: 8px;
}
.allGame .text_content p span{
    color: #AF0A5E;
}
.playBtn{
    margin-top: 5px;
}
.playBtn span:nth-of-type(1){
    width: 45px;
    height: 27px;
    display: inline-block;
    border: 1px #CCCCCC solid;
    border-radius: 7px;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    cursor: pointer;
}
.playBtn span:nth-of-type(2){
    width: 69px;
    height: 27px;
    display: inline-block;
    margin-left: 4px;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    font-weight: bold;
    border: 1px #326598 solid;
    border-radius: 7px;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #87c9d9,#366b9b);
    cursor: pointer;
}

/*新闻公告*/
.news{
    width: 260px;
    height: 225px;
    margin-left: 15px;
    overflow: hidden;
}

.newsList{
    margin: 0 5px;
}

.newsList li{
    border-bottom: 1px #cccccc dashed;
    height: 27px;
    line-height: 27px;
    padding-left: 45px;
    font-size: 12px;
    transition: all 0.3s;
    background: url("../images/rightTwo.png") 10px no-repeat;
}
.newsList li:hover{
    transform: translate(0, 4px) scale(1.1);
}
.newsList li a{
    text-decoration: none;
    color: #4d4646;
}


/*角色扮演部分*/
.rolePlay{
    width: 725px;
    height: 425px;
    margin-top: 20px;
    overflow: hidden;
}
.rolePlay .gameBox{
    margin-left: 40px;
    margin-top: 15px;
    width: 130px;
    height: 175px;
}
.gameBox p{
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}
.gameBox p span{
    color: #a70a0a;
}
.rolePlay .img{
    width: 130px;
    height: 85px;
}
.rolePlay img{
    transition: all 0.5s;
}
.rolePlay img:hover{
    transform: translate(-8px,0);
}
.weiBo{
    width: 255px;
    height: 160px;
    margin: 25px 0 10px 20px;
}
.weiBo .img{
    margin-bottom: 20px;
    width: 255px;
    height: 65px;
}
.weiBo .img img{
    width: 100%;
    height: 100%;
}

/*游戏视频*/
.video{
    width: 260px;
    height: 245px;
    overflow: hidden;
    margin-left: 15px;
}
.videoBox{
    width: 255px;
    height: 97px;
    border-bottom: 1px #CCCCCC dashed;
    margin-left: 8px;
    margin-top: 10px;
}
.videoBox .img img{
    /*width: 130px;*/
    /*height: 85px;*/
    float: left;
    margin-right: 10px;
}
.videoBox p a{
    text-decoration: none;
    font-size: 12px;
    color: #2B62A5;
    line-height: 25px;
}
.videoBox .img{
    margin-right: 10px;
}
/*底部状态栏*/
.footer{
    width: 100%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer li{
    list-style: none;
    margin-right:15px ;
    float: left;
}
.footer a{
    color: #2B62A5;
    line-height: 30px;
    font-size: 12px;
}
.footer .info{
    font-size: 12px;
    line-height: 30px;
    color: #666666;
}
/*漂浮广告栏*/
.top_tool{
    width: 200px;
    height: 180px;
    position: absolute;
    top: 400px;
    right: 0;
    animation: route 2.5s both;
}
.top_tool img{
    width: 100%;
}
.top_tool .icon{
    position: absolute;
    right: 0;
    top: -12px;
    background: #CCCCCC;
    padding: 0 4px;
    line-height: 20px;
}

@keyframes route {
    0% {
        right: 0;
        top: 0;
    }
    50% {
        right: 800px;
        top: 700px;
    }
    100% {
        right: 0;
        top: 400px;
    }
}