*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.container{
    width: 800px;
    height: 600px;
    margin: 50px auto;
    /*border: 1px #cccccc dotted;*/
}
.tree{
	width:200px;
	height:200px;
	top:300px;
	left:20px;
    margin-right: 10px;
	position:absolute;
}
#introduction{
    float: left;
}
.message{
    position: absolute;
    left: 500px;
    top:5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background: red;
    display: none;
    color: #eeeeee;
}
p{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px dotted #666666;
}
.content{
    margin: 20px;
    position: relative;
}

input[type=text] :focus{
    border: 2px solid #f00;
}
input[type=text]{
    margin-left: 100px;
    width: 300px;
    height: 30px;
    /*border-radius: 5px;*/
}
input[type=text]:focus
{
    width: 400px;
}
input[type="radio"]{
    margin-left: 100px;
}
input[type="radio"]+span{
    height: 20px;
    line-height: 20px;
    padding: 20px;
}
input[type="checkbox"]{
    margin-left: 60px;
}
input[type="checkbox"]+span{
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
}
textarea{
    margin-left: 70px;
    /*border-radius: 5px;*/
    width: 300px;
    height: 150px;
}
input[type="submit"]{
    width: 100px;
    height: 25px;
    background: deepskyblue;
    /*border-radius: 5px;*/
    color: #eeeeee;
    margin-left: 140px;
}
textarea{
    font-family: Microsoft JhengHei;
    color: #797979;
    padding:10px;
}