/* 全局 */
*{
    margin: 0;
    padding: 0;
}
/* 初始height:100% */
html,body{height:100%}
div{
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #b7c0cd;
}
body{
    font-family: ProximaNova-Semibold ProximaNova-Regular sans-serif;
    font-size: 14px;
}
.l{
    float: left;
}
.r{
    float:right;
}


/* 左侧工具栏 */
.toolbar{
    height: 100%;
    width: 350px;
    background-color: #1d2531;
    float: left;
}
/* 按钮栏 */
aside{
    height: 100%;
    display: flex;
}
.sidebar{
    padding-top: 20px;
    width: 100px;
    height: 100%;
}
/* relative为了定位行首的小光标 */
.sidebar li{
    position: relative;
    width: 60px;
    height: 60px;
    margin :20px 20px 0 20px;
}
.sidebar li.active:before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -19px;
    top: 27px;
    width: 2px;
    height: 4px;
    background-color: #2399f1;
    border-radius: 0 2px 2px 0;
}
.sidebar footer{
    position: fixed;
    bottom: 20px;
    left:26px;
    z-index: 666;
}
.sidebar footer a{
   display: inline-block; 
   margin-right: 16px
}

/* 菜单栏 */
.sideMenu{
   width: 250px;
   
   
}
.sideMenu .menu{
    width: 191px;
    height: 226px;
    margin: 30px 30px 23px 29px;
    border-bottom: 1px solid #2A3547;
}
.sideMenu .products{
    width: 191px;
    height: 195px;
    margin: 0 30px 22px 29px;
    border-bottom: 1px solid #2A3547;
}
.sideMenu .dashBoard{
    width: 191px;
    height: 203px;
    margin: 0 30px 0 29px;
}
/* relative为了定位行首的小光标 */
.sideMenu li{
    position: relative;
}
.sideMenu h4{
    font-size: 12px;
    font-weight: normal;
    display: block;
    height: 17px;
    width: 191px;
    margin-bottom: 22px;
    line-height: 17px;
    background: url("../images/setting.png") no-repeat center right
}
.sideMenu h4 a{
    color:#5b6779;
}
/* 菜单栏 */
.menu li{
    margin-bottom: 17px;
}
.menu li:last-child{
    margin-bottom: 30px;
}
.menu li a{
    font-weight: bold;
}

/* 产品栏 */
.products li{
    display: block;
    margin-bottom: 18px;
    width: 108px;
}
.products li a{
    padding-left: 29px;
}
.products li:nth-child(1){
    background: url("../images/book.png") no-repeat center left 
}
.products li:nth-child(2){
    background: url("../images/video.png") no-repeat center left 
}
.products li:nth-child(3){
    background: url("../images/video.png") no-repeat center left 
}
.products li:nth-child(4){
    background: url("../images/statistics.png") no-repeat center left 
}

/* 消息栏 */
.dashBoard li.active:before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -27px;
    top:7px;
    width: 2px;
    height: 4px;
    background-color: #2399f1;
    border-radius: 0 2px 2px 0;
}
.dashBoard li{
    margin-bottom: 18px;
}

/* 尾部 */
.sideMenu footer{
    width: 190px;
    height: 31px;
    position: fixed;
    bottom: 23px;
    left:115px;
    /* background: #1d2531; */
    z-index: 666;
}
.sideMenu footer span{
    color: #ffffff;
    font-family: ProximaNova-Semibold;
    font-size: 13px;
    cursor: pointer;
}
progress
{
    width: 190px;
    height: 4px;
}

progress::-moz-progress-bar { background: #0064B4; }
progress::-webkit-progress-bar { background: #e6e6e6; }
progress::-webkit-progress-value  { background: #0064B4; }

/* 右半部分自适应 */
.messages{
    float: left;
    width: calc(100% - 350px);
    height: 100%;
    
}
/* 标题栏 */
.title{
    
    width: 100%;
	height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #E6E9EC;
    float: left;
}
.title header{
    width: 100%;
    height: 80px;
}
.title header span{
    font-size: 24px;
    float: left;
    color: #354052;
    margin: 28px 0 28px 30px;
}
/* 头像框 */
.title header .profile{
    width: 204px;
    height: 58px;
    float:left;
    margin:17px 0;
    position: fixed;
    right: 31px;
    background: url(../images/drop_down.png) no-repeat right center;
}
.title header .name{
    padding-bottom: 5px;
}
.title header .profile>a{
    float: left;
    margin-right: 16px;
}
.title header .profile .name a{
    color: #2399f1;
    font-size: 16px;
    font-weight: bold;
}
.title header .profile .role{
    color: #b5b5b5;
    font-weight: bold;
    font-size: 13px;
}

/* .messages{
    display: flex
} */
/* 搜索框 */
.message_l{
    width: 400px;
    border-right:1px solid #E6E9EC;
    float: left;
}
.search{
    width: 400px;
    height: 74px;
    border-bottom: 1px solid #E6E9EC
}
.search input{
    outline:none;
    border: 1px solid #E6E9EC;
    width: 340px;
    height:36px;
    margin: 16px 30px;
    background: url(../images/search.png) no-repeat 300px center;
}

/* 用户组 */
.simpleBoxes section{
    width: 400px;
    height: 130px;
    position: relative;
    border-bottom: 1px solid #E6E9EC;
}
.userBox{
    width: 191px;
    height: 60px;
    margin: 15px 199px 0 8px;
    float:left;
    
}
.userBox>a{
    float: left;
    margin-left: 20px;
    margin-right: 16px;
}
.userBox .name{
    padding-bottom: 5px;
}
.userBox .name a{
    color: #2399f1;
    font-size: 16px;
    font-weight: bold;
}
.userBox .role{
    color: #b5b5b5;
    font-weight: bold;
    font-size: 13px;
}
.userBox span{
    position: absolute;
    right: 23px;
    top:26px;
    color: #7f8fa4;
    font-family: ProximaNova-Semibold;
    font-weight: bold;
}
.userBox+p{
    color: #585d68;
    padding-left: 29px;
    font-size: 13px;
}

/* 用户动态 */
.message_r{
    width: calc(100% - 401px);
    height: 500px;
    float: left;

}
.message_r header{
    height: 75px;
    position: relative;
}
.message_r header span{
    font-size: 18px;
    font-weight: bold;
    margin:27px;
    color: #585d68;
    display: inline-block;
    vertical-align: middle;
}
.message_r header .choiceList{
    position: absolute;
    
    right:85px;
}
.message_r header .nextPage{
    position: absolute;
    top:20px;
    right:20px;
}
.message_r header .choice{
    position: absolute;
    top:20px;
    right:195px;
}

